<html >
  
  <body>

  <nav>

    <ul>
      <li id="abc"class="menu1">Seat Avaliability</li>
      <li id="abc" class="lii"><a (click)="logout()">Logout</a></li>
    </ul>

  </nav> 

  <div class="hello">
    <ul class="showcase">
      <li>
        <button class="seat1" ></button>
        <label>Avaliable</label>
      </li>

      <li>
        <button class="seat2" [disabled]="isDisable"></button>
        <label>Booked</label>
      </li>
    </ul>

    <div class="container">
      <div class="row">
      
        <button class="seat" [disabled]="isDisableA1" >B1</button>
        <button class="seat" [disabled]="isDisableA2" >B2</button>
        <button class="seat" [disabled]="isDisableA3">B3</button>
        <button class="seat" [disabled]="isDisableA4">B4</button>
        <button class="seat" [disabled]="isDisableA5">B5</button>
        <button class="seat" [disabled]="isDisableA6">B6</button>
        <button class="seat" [disabled]="isDisableA7">B7</button>
        <button class="seat"[disabled]="isDisableA8">B8</button>
        <button class="seat"[disabled]="isDisableA9">B9</button>
       
      </div>
      <div class="row">
  
        <button class="seat" [disabled]="isDisableA10">B10</button>
        <button class="seat" [disabled]="isDisableA11">B11</button>
        <button class="seat" [disabled]="isDisableA12">B12</button>
        <button class="seat" [disabled]="isDisableA13">B13</button>
        <button class="seat" [disabled]="isDisableA14">B14</button>
        <button class="seat" [disabled]="isDisableA15">B15</button>
        <button class="seat" [disabled]="isDisableA16">B16</button>
        <button class="seat" [disabled]="isDisableA17">B17</button>
        <button class="seat" [disabled]="isDisableA18">B18</button>
      </div><br>

      <div class="row">
   
        <button class="seat" [disabled]="isDisableA19">B19</button>
        <button class="seat" [disabled]="isDisableA20">B20</button>
        <button class="seat" [disabled]="isDisableA21">B21</button>
        <button class="seat" [disabled]="isDisableA22">B22</button>
        <button class="seat" [disabled]="isDisableA23">B23</button>
        <button class="seat" [disabled]="isDisableA24">B24</button>
        <button class="seat" [disabled]="isDisableA25">B25</button>
        <button class="seat" [disabled]="isDisableA26">B26</button>
        <button class="seat" [disabled]="isDisableA27">B27</button>
      </div>

      <div class="row">
  
        <button class="seat" [disabled]="isDisableA28">B28</button>
        <button class="seat" [disabled]="isDisableA29">B29</button>
        <button class="seat" [disabled]="isDisableA30">B30</button>
        <button class="seat" [disabled]="isDisableA31">B31</button>
        <button class="seat" [disabled]="isDisableA32">B32</button>
        <button class="seat" [disabled]="isDisableA33">B33</button>
        <button class="seat" [disabled]="isDisableA34">B34</button>
        <button class="seat" [disabled]="isDisableA35">B35</button>
        <button class="seat" [disabled]="isDisableA36">B36</button>
      </div>
 
    </div>

  </div>

  <div class="res">
    <h1>Enter Details</h1>
            <form [formGroup]="form" (ngSubmit)="Submit()">
              
               
              <p for="seat">Select Seat Number</p>
              <input type="text"  formControlName="seat" list="search12">
              <datalist id="search12">
                <option value="B1">B1</option>
                <option value="B2">B2</option>
                <option value="B3">B3</option>
                <option value="B4">B4</option>
                <option value="B5">B5</option>
                <option value="B6">B6</option>
                <option value="B7">B7</option>
                <option value="B8">B8</option>
                <option value="B9">B9</option>
                <option value="B10">B10</option>  
                <option value="B11">B11</option>
                <option value="B12">B12</option>
                <option value="B13">B13</option>
                <option value="B14">B14</option>
                <option value="B15">B15</option>  
                <option value="B16">B16</option>
                <option value="B17">B17</option>
                <option value="B18">B18</option>
                <option value="B19">B19</option>
                <option value="B20">B20</option>  
                <option value="B21">B21</option>
                <option value="B22">B22</option>
                <option value="B23">B23</option>
                <option value="B24">B24</option>
                <option value="B25">B25</option>  
                <option value="B26">B26</option>
                <option value="B27">B27</option>
                <option value="B28">B28</option>
                <option value="B29">B29</option>
                <option value="B30">B30</option>  
                <option value="B31">B31</option>
                <option value="B32">B32</option>
                <option value="B33">B33</option>
                <option value="B34">B34</option>
                <option value="B35">B35</option> 
                <option value="B36">B36</option>              
              </datalist>
              <div *ngIf="f['seat'].touched && f['seat'].invalid" class="alert alert-danger">
                <div *ngIf="f['seat'].errors && f['seat'].errors['required']">seat number is required.</div> 
            </div>

            <p for="pasen">Enter Passenger name</p>
              <input type="text"  formControlName="pasen">
              <div *ngIf="f['pasen'].touched && f['pasen'].invalid" class="alert alert-danger">
                <div *ngIf="f['pasen'].errors && f['pasen'].errors['required']">Passenger name is required.</div> 
                <div *ngIf="f['pasen'].errors && f['pasen'].errors['pattern']">Name should not contains numbers and special characters.</div> 
            </div>
                
                <p for="email">Email Id</p>
                <input type="email" formControlName="email">
                <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div> 
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">Enter valid Email Address</div>
                </div>
                <p for="mob">Mobile Number</p>
                <input type="text" placeholder="Enter Number" formControlName="mob">
                <div *ngIf="f['mob'].touched && f['mob'].invalid" class="alert alert-danger">
                    <div *ngIf="f['mob'].errors && f['mob'].errors['required']">Mobile number is required.</div>
                    <div *ngIf="f['mob'].errors && f['mob'].errors['pattern']">Mobile number should be numbers only</div>
                    <div *ngIf="f['mob'].errors && f['mob'].errors['minlength']">Mobile number should be 10 digits</div>
                    <div *ngIf="f['mob'].errors && f['mob'].errors['maxlength']">Mobile number should be 10 digits</div>
                </div>
                <button type="submit" [disabled]="form.invalid">Book</button>
            </form>
  </div>
  
  </body>
</html>
