<html>
  <body>
    
    <div class="main">
   
      <h2>ONLINE BUS RESERVATION PORTAL</h2><br>
    
      <div class="abc">
        <form >
  
                <p>From</p>
                <input type="text" placeholder="Enter Source place" list="search">
                <datalist id="search">
                  <option value="chennai">Chennai</option>
                  <option value="Hyderabad">Hyderabad</option>
                </datalist>
            
                <p>To</p>
                <input type="text" placeholder="Enter destination place" list="search1">
                <datalist id="search1">
                  <option value="Hyderabad">Hyderabad</option>
                  <option value="Mumbai">Mumbai</option>
                </datalist>
              
                <p>Date Of Journey</p>
                <input type="date" min="2022-03-31"><br>
              
                <button type="submit" class="btn" routerLink="/login"> Search for Bus </button>
          </form>
      </div>
    </div>
    
  </body>

  </html>

  
  
  
  
  
  
  
  
  
  
  
  